Repository BrowserWorks/Waterfox: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, linux64-shell-haz/debug, linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, marionette-harness/opt, mozlint-eslint/opt, mozlint-flake8/opt, wptlint-gecko/opt, sm-package/opt, sm-mozjs-sys/debug, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, linux64-clang/opt, linux64-gcc/opt, linux64-binutils/opt, win32-clang-cl/opt

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, testing/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  mozlint-eslint/opt: any of: **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, python/mozlint/**, tools/lint/**, testing/docker/lint/**
  mozlint-flake8/opt: any of: **/*.py, **/.flake8, python/mozlint/**, tools/lint/**, testing/docker/lint/**
  wptlint-gecko/opt: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json, python/mozlint/**, tools/lint/**, testing/docker/lint/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-mozjs-sys/debug: any of: js/public/**, js/src/**
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Update nsMacDockSupport.h
  widget/cocoa/nsMacDockSupport.h
Due: none

Update nsMacDockSupport.mm
  widget/cocoa/nsMacDockSupport.mm
Due: none

Update aboutHome.css
  browser/base/content/abouthome/aboutHome.css
Due: none

Remove problematic file
  testing/mozharness/configs/single_locale/linux32.py
Due: linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, mozlint-flake8/opt

Mask waterfox useragent from Discordapp, Fixes #78
  modules/libpref/init/all.js
Due: mozlint-eslint/opt

Update to Firefox 52.0.2
  .gitignore
Due: none

Disable Pulseaudio and enable ALSA for Linux
  .mozconfig
Due: none

Ignore patch byproducts and allow mozconfigs in root directory
  .gitignore
Due: none

Add Waterfox configuration options
  .mozconfig
Due: none

Change minimum supported OS X version and change Firefox macbuild references to Waterfox
  browser/app/macbuild/Contents/Info.plist.in
  browser/app/macbuild/Contents/MacOS-files.in
Due: none

Add Waterfox's Branding
  browser/branding/official/VisualElements_150.png
  browser/branding/official/VisualElements_70.png
  browser/branding/official/appname.bmp
  browser/branding/official/background.png
  browser/branding/official/bgintro.bmp
  browser/branding/official/branding.nsi
  browser/branding/official/configure.sh
  browser/branding/official/content/about-logo.png
  browser/branding/official/content/about-logo@2x.png
  browser/branding/official/content/about-wordmark.svg
  browser/branding/official/content/about.png
  browser/branding/official/content/icon48.png
  browser/branding/official/content/icon64.png
  browser/branding/official/content/identity-icons-brand.svg
  browser/branding/official/content/silhouette-40.svg
  browser/branding/official/default16.png
  browser/branding/official/default22.png
  browser/branding/official/default24.png
  browser/branding/official/default256.png
  browser/branding/official/default32.png
  browser/branding/official/default48.png
  browser/branding/official/disk.icns
  browser/branding/official/document.icns
  browser/branding/official/document.ico
  browser/branding/official/firefox.icns
  browser/branding/official/firefox.ico
  browser/branding/official/locales/en-US/brand.dtd
  browser/branding/official/locales/en-US/brand.properties
  browser/branding/official/mozicon128.png
  browser/branding/official/pref/firefox-branding.js
  browser/branding/official/wizHeader.bmp
  browser/branding/official/wizHeaderRTL.bmp
  browser/branding/official/wizWatermark.bmp
Due: mozlint-eslint/opt

Add Waterfox dialog
  browser/base/content/aboutDialog.xul
  browser/locales/en-US/chrome/browser/aboutDialog.dtd
Due: none

Stop Pocket from getting included at build time and remove reference to it during packaging
  browser/extensions/moz.build
  browser/locales/Makefile.in
Due: none

Remove snippets and change aboutMozilla logo
  browser/app/profile/firefox.js
  browser/base/content/abouthome/about-wordmark.svg
  browser/base/content/abouthome/aboutHome.css
  browser/base/content/abouthome/aboutHome.js
  browser/base/content/abouthome/aboutHome.xhtml
  browser/modules/AboutHome.jsm
Due: mozlint-eslint/opt

Bug 1148911 - Nontransparent download progress bar in OS X Yosemite https://bugzilla.mozilla.org/show_bug.cgi?id=1148911
  browser/base/content/abouthome/aboutHome.css
  widget/cocoa/nsMacDockSupport.h
  widget/cocoa/nsMacDockSupport.mm
Due: none

Remove dupe checker due to too many language packs being included
  toolkit/mozapps/installer/find-dupes.py
Due: linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, mozlint-flake8/opt

Bug 455722 - Add context menu item to duplicate (clone) tab https://bugzilla.mozilla.org/show_bug.cgi?id=455722
  browser/app/profile/firefox.js
  browser/base/content/browser.js
  browser/base/content/browser.xul
Due: mozlint-eslint/opt

Remove slow addon startup check and notification (@PandaCodex)
  browser/base/content/browser.js
  browser/components/nsBrowserGlue.js
Due: mozlint-eslint/opt

Remove unused imagery, add SVG wordmark to jar manifest
  browser/base/jar.mn
Due: none

Add Ecosia, set as default search engine. Remove search engine region set
  browser/app/profile/firefox.js
  browser/locales/en-US/chrome/browser-region/region.properties
  browser/locales/en-US/firefox-l10n.js
  browser/locales/search/list.json
  browser/locales/searchplugins/disconnect.xml
  browser/locales/searchplugins/ecosia.xml
  browser/locales/searchplugins/startpage.xml
  netwerk/protocol/http/nsHttpHandler.cpp
Due: mozlint-eslint/opt

Set SUBSYSTEM to 5.02 for x64
  js/src/old-configure.in
  old-configure.in
Due: linux64-shell-haz/debug, sm-package/opt, sm-mozjs-sys/debug, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Disable various telemetry and reporting
  browser/app/profile/firefox.js
  browser/components/moz.build
  browser/components/sessionstore/moz.build
  browser/components/sessionstore/nsSessionStartup.js
  browser/modules/moz.build
  browser/modules/test/browser.ini
  browser/moz.configure
  docshell/build/nsDocShellModule.cpp
  modules/libpref/init/all.js
  old-configure.in
  toolkit/components/startup/StartupTimeline.h
  toolkit/components/startup/nsAppStartup.cpp
  toolkit/components/telemetry/datareporting-prefs.js
  toolkit/xre/nsAppRunner.cpp
Due: mozlint-eslint/opt

Modify NSIS scripts to not call upon certain files and set minimum version as XP
  browser/installer/package-manifest.in
  browser/installer/windows/nsis/defines.nsi.in
  browser/installer/windows/nsis/installer.nsi
Due: none

Restore plugin check ability (@PandaCodex)
  toolkit/mozapps/extensions/content/extensions.css
  toolkit/mozapps/extensions/content/extensions.js
  toolkit/mozapps/extensions/content/extensions.xul
Due: mozlint-eslint/opt

Add Waterfox README
  README.md
  README.txt
Due: none

Allow all NPAPIs plugins to run
  browser/app/profile/firefox.js
  dom/plugins/base/nsPluginHost.cpp
Due: mozlint-eslint/opt

Add missing plugin check URL
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt

Remove hotfix ID to stop them from being installed
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt

Disable xpi signature requirement
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt

Show update available on hamburger menu
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt

Use Waterfox update URLs
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt

Disable browser EME UI
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt

Disable browser UI tour for Waterfx
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt

Remove sponsored tile URLs
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt

Disable social API by default for Waterfox
  browser/app/profile/firefox.js
Due: mozlint-eslint/opt
