Repository BrowserWorks/Waterfox: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-api-15-gradle-dependencies, android-test, android-lint, android-checkstyle, linux64-shell-haz/debug, linux-l10n/opt, linux64-l10n/opt, android-api-15-l10n/opt, marionette-harness/opt, mozlint-eslint/opt, mozlint-flake8/opt, wptlint-gecko/opt, sm-package/opt, sm-mozjs-sys/debug, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug, linux64-clang/opt, linux64-gcc/opt, linux64-binutils/opt, win32-clang-cl/opt

Path conditions:
  android-api-15-gradle-dependencies: any of: mobile/android/config/**, testing/docker/android-gradle-build/**, testing/mozharness/configs/builds/releng_sub_android_configs/*gradle_dependencies.py, **/*.gradle
  android-test: any of: mobile/android/base/**, mobile/android/tests/background/junit4/**
  android-lint: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/build.gradle
  android-checkstyle: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.gradle, mobile/android/**/*.java
  linux64-shell-haz/debug: any of: js/public/**, js/src/**
  linux-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  linux64-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  android-api-15-l10n/opt: any of: browser/locales/all-locales, python/compare-locales/**, testing/mozharness/configs/single_locale/**, testing/mozharness/mozharness/mozilla/l10n/locales.py, testing/mozharness/scripts/desktop_l10n.py, toolkit/locales/**, toolkit/mozapps/installer/**
  marionette-harness/opt: any of: testing/marionette/harness/**, testing/mozharness/scripts/marionette_harness_tests.py, testing/config/marionette_harness_test_requirements.txt
  mozlint-eslint/opt: any of: **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, python/mozlint/**, tools/lint/**, testing/docker/lint/**
  mozlint-flake8/opt: any of: **/*.py, **/.flake8, python/mozlint/**, tools/lint/**, testing/docker/lint/**
  wptlint-gecko/opt: any of: testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**, testing/web-platform/meta/MANIFEST.json, testing/web-platform/mozilla/meta/MANIFEST.json, python/mozlint/**, tools/lint/**, testing/docker/lint/**
  sm-package/opt: any of: js/public/**, js/src/**, build/**, config/**, configure.py, dom/bindings/**, intl/icu/**, js/moz.configure, layout/tools/reftest/reftest/**, Makefile.in, media/webrtc/trunk/tools/gyp/**, memory/**, mfbt/**, modules/fdlibm/**, modules/zlib/src/**, mozglue/**, moz.build, moz.configure, nsprpub/**, python/**, taskcluster/moz.build, testing/mozbase/**, test.mozbuild, toolkit/mozapps/installer/package-name.mk, toolkit/mozapps/installer/upload-files.mk
  sm-mozjs-sys/debug: any of: js/public/**, js/src/**
  sm-plain/debug: any of: js/public/**, js/src/**
  sm-plain/opt: any of: js/public/**, js/src/**
  sm-arm-sim/debug: any of: js/public/**, js/src/**
  sm-arm64-sim/debug: any of: js/public/**, js/src/**
  sm-asan/opt: any of: js/public/**, js/src/**
  sm-compacting/debug: any of: js/public/**, js/src/**
  sm-msan/opt: any of: js/public/**, js/src/**
  sm-tsan/opt: any of: js/public/**, js/src/**
  sm-rootanalysis/debug: any of: js/public/**, js/src/**
  sm-nonunified/debug: any of: js/public/**, js/src/**
  linux64-clang/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-gcc/opt: any of: build/unix/build-gcc/**, taskcluster/scripts/misc/build-gcc-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  linux64-binutils/opt: any of: build/unix/build-binutils/**, taskcluster/scripts/misc/build-binutils-linux.sh, taskcluster/taskgraph/transforms/job/toolchain.py
  win32-clang-cl/opt: any of: build/build-clang/**, taskcluster/scripts/misc/build-clang-windows.sh, taskcluster/taskgraph/transforms/job/toolchain.py

Version bump.
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
Due: sm-package/opt

Bug 1294490 - Part 2. Add build files to support libwebp decoding.
  config/external/moz.build
  media/libwebp/MOZCHANGES
  media/libwebp/dec/moz.build
  media/libwebp/demux/moz.build
  media/libwebp/dsp/moz.build
  media/libwebp/moz.build
  media/libwebp/moz/cpu.cpp
  media/libwebp/moz/moz.build
  media/libwebp/update.sh
  media/libwebp/utils/moz.build
  patch.diff
Due: sm-package/opt

Bug 1294490 - Part 3. Implement WebP decoder.
  gfx/thebes/gfxPrefs.h
  image/DecoderFactory.cpp
  image/DecoderFactory.h
  image/build/nsImageModule.cpp
  image/decoders/moz.build
  image/decoders/nsWebPDecoder.cpp
  image/decoders/nsWebPDecoder.h
  modules/libpref/init/all.js
  netwerk/mime/nsMimeTypes.h
  patch.diff
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: mozlint-eslint/opt

Bug 1294490 - Part 5. Add --with-system-webp switch to build.
  config/external/moz.build
  config/system-headers
  patch.diff
  toolkit/library/moz.build
  toolkit/moz.configure
Due: sm-package/opt

Bug 1294490 - Part 6. Detect WebP MIME type from content sniffing.
  image/imgLoader.cpp
  image/test/gtest/TestLoader.cpp
  image/test/gtest/moz.build
  patch.diff
Due: none

Bug 1294490 - Part 7. Implement WebP tests.
  image/test/gtest/Common.cpp
  image/test/gtest/Common.h
  image/test/gtest/TestDecodeToSurface.cpp
  image/test/gtest/TestDecoders.cpp
  image/test/gtest/TestMetadata.cpp
  image/test/gtest/moz.build
  image/test/mochitest/clear.webp
  image/test/mochitest/clear2.webp
  image/test/mochitest/keep.webp
  image/test/mochitest/mochitest.ini
  image/test/mochitest/test_animation_operators.html
  patch.diff
Due: mozlint-eslint/opt

Enabled WebP decoding and remove patch file.
  modules/libpref/init/all.js
  patch.diff
Due: mozlint-eslint/opt

Drop version to 52.0.1
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
Due: sm-package/opt

Block Google Analytics request on about:addons page
  toolkit/mozapps/extensions/content/extensions.js
Due: mozlint-eslint/opt

XP Start-of-Life Bug 1325299 - Bump WINVER to 0x0601.
  js/src/old-configure.in
  old-configure.in
Due: linux64-shell-haz/debug, sm-package/opt, sm-mozjs-sys/debug, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Update .gitignore
  .gitignore
Due: none

Change minimum MSVC version to 19.00.24210
  build/build-clang/build-clang.py
  build/moz.configure/toolchain.configure
  python/mozbuild/mozbuild/test/configure/test_toolchain_configure.py
Due: mozlint-flake8/opt, sm-package/opt, linux64-clang/opt, win32-clang-cl/opt

Backout Bug 1351490 - Only run plugin finding/init on flash and pdf MIME types
  docshell/base/nsWebNavigationInfo.cpp
  dom/plugins/base/nsPluginHost.cpp
  dom/plugins/base/nsPluginHost.h
  dom/plugins/test/mochitest/mochitest.ini
Due: none

Fix merge issues.
  browser/app/profile/firefox.js
  browser/base/content/browser-trackingprotection.js
  browser/themes/linux/jar.mn
  browser/themes/osx/jar.mn
  browser/themes/windows/jar.mn
Due: mozlint-eslint/opt

Update branding, put Waterfox branding in Unofficial folder.
  browser/branding/unofficial/VisualElements_150.png
  browser/branding/unofficial/VisualElements_70.png
  browser/branding/unofficial/background.png
  browser/branding/unofficial/bgstub.bmp
  browser/branding/unofficial/branding.nsi
  browser/branding/unofficial/configure.sh
  browser/branding/unofficial/content/about-background.png
  browser/branding/unofficial/content/about-logo.png
  browser/branding/unofficial/content/about-logo@2x.png
  browser/branding/unofficial/content/about-wordmark.svg
  browser/branding/unofficial/content/about.png
  browser/branding/unofficial/content/icon48.png
  browser/branding/unofficial/content/icon64.png
  browser/branding/unofficial/content/identity-icons-brand.svg
  browser/branding/unofficial/default16.png
  browser/branding/unofficial/default32.png
  browser/branding/unofficial/default48.png
  browser/branding/unofficial/disk.icns
  browser/branding/unofficial/document.icns
  browser/branding/unofficial/document.ico
  browser/branding/unofficial/firefox.icns
  browser/branding/unofficial/firefox.ico
  browser/branding/unofficial/firefox64.ico
  browser/branding/unofficial/locales/en-US/brand.dtd
  browser/branding/unofficial/locales/en-US/brand.properties
  browser/branding/unofficial/mozicon128.png
  browser/branding/unofficial/pref/firefox-branding.js
  browser/branding/unofficial/wizHeader.bmp
  browser/branding/unofficial/wizHeaderRTL.bmp
  browser/branding/unofficial/wizWatermark.bmp
Due: mozlint-eslint/opt

Remove BrowserUsageTelemetry added by merge.
  browser/base/content/urlbarBindings.xml
Due: mozlint-eslint/opt

Update configuration options.
  .mozconfig
  browser/branding/unofficial/configure.sh
  browser/components/migration/WaterfoxProfileMigrator.js
Due: mozlint-eslint/opt

Merge branch 'release' of github.com:mozilla/gecko-dev
  .hgtags
  browser/app/blocklist.xml
  browser/components/sessionstore/SessionStore.jsm
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/base/android-services.mozbuild
  mobile/android/components/SessionStore.js
  mobile/android/services/src/main/java/org/mozilla/gecko/fxa/sync/FxAccountSyncAdapter.java
  mobile/android/services/src/main/java/org/mozilla/gecko/sync/BackoffException.java
  mobile/android/services/src/main/java/org/mozilla/gecko/sync/CryptoKeysChangedException.java
  mobile/android/services/src/main/java/org/mozilla/gecko/sync/GlobalSession.java
  mobile/android/services/src/main/java/org/mozilla/gecko/sync/OutdatedStorageVersionException.java
  mobile/android/services/src/main/java/org/mozilla/gecko/sync/delegates/GlobalSessionCallback.java
  mobile/android/services/src/main/java/org/mozilla/gecko/sync/stage/EnsureCrypto5KeysStage.java
  mobile/android/services/src/main/java/org/mozilla/gecko/sync/stage/FetchMetaGlobalStage.java
  mobile/android/services/src/main/java/org/mozilla/gecko/sync/telemetry/TelemetryCollector.java
  mobile/android/tests/background/junit3/src/org/mozilla/gecko/background/sync/TestResetting.java
  mobile/android/tests/background/junit3/src/org/mozilla/gecko/background/testhelpers/DefaultGlobalSessionCallback.java
  mobile/android/tests/background/junit4/src/org/mozilla/android/sync/test/TestResetCommands.java
  mobile/android/tests/background/junit4/src/org/mozilla/android/sync/test/helpers/MockGlobalSessionCallback.java
  mobile/android/tests/background/junit4/src/org/mozilla/gecko/background/testhelpers/DefaultGlobalSessionCallback.java
  mobile/android/tests/background/junit4/src/org/mozilla/gecko/sync/telemetry/TelemetryCollectorTest.java
  modules/libpref/init/all.js
  security/nss/TAG-INFO
  security/nss/coreconf/coreconf.dep
  security/nss/lib/dev/devslot.c
  security/nss/lib/nss/nss.h
  security/nss/lib/softoken/softkver.h
  security/nss/lib/util/nssutil.h
  toolkit/mozapps/update/nsUpdateService.js
  toolkit/mozapps/update/tests/unit_base_updater/marAppApplyUpdateStageOldVersionFailure.js
Due: android-test, android-lint, android-checkstyle, mozlint-eslint/opt, sm-package/opt

Migration Wizard Stage 2.
  browser/components/migration/ChromeProfileMigrator.js
  browser/components/migration/WaterfoxProfileMigrator.js
Due: mozlint-eslint/opt

Migration Wizard Stage 3.
  browser/components/migration/MigrationUtils.jsm
  browser/components/migration/WaterfoxProfileMigrator.js
Due: mozlint-eslint/opt

Migration Wizard Stage 4.
  browser/branding/unofficial/configure.sh
  browser/components/migration/content/migration.js
  browser/components/migration/content/migration.xul
  browser/locales/en-US/chrome/browser/migration/migration.dtd
Due: mozlint-eslint/opt

Label 'legacy' extensions as 'FULL ADD-ON' to not confuse users, as Waterfox will keep them on.
  browser/locales/en-US/chrome/browser/migration/migration.properties
  toolkit/mozapps/extensions/content/extensions.xml
  toolkit/mozapps/extensions/content/extensions.xul
Due: mozlint-eslint/opt

Update UA override versions.
  modules/libpref/init/all.js
Due: mozlint-eslint/opt

Fix console erros for code that doesn't exist anymore.
  browser/components/migration/WaterfoxProfileMigrator.js
  browser/components/sessionstore/nsSessionStartup.js
Due: mozlint-eslint/opt

Add Yahoo partner URL and import more user data in the migrator.
  browser/locales/searchplugins/yahoo.xml
Due: mozlint-eslint/opt

Add findx search.
  browser/locales/search/list.json
  browser/locales/searchplugins/findx.xml
Due: mozlint-eslint/opt

Downgrade version number.
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
Due: sm-package/opt

Update .mozconfig.
  .mozconfig
Due: none

Revert XP Start-of-Life Bug 1325299 - Bump WINVER to 0x0601.
  js/src/old-configure.in
  old-configure.in
Due: linux64-shell-haz/debug, sm-package/opt, sm-mozjs-sys/debug, sm-plain/debug, sm-plain/opt, sm-arm-sim/debug, sm-arm64-sim/debug, sm-asan/opt, sm-compacting/debug, sm-msan/opt, sm-tsan/opt, sm-rootanalysis/debug, sm-nonunified/debug

Migration Wizard Stage 5.
  browser/components/migration/WaterfoxProfileMigrator.js
  browser/components/migration/content/aboutWelcomeBack.xhtml
  browser/locales/en-US/chrome/browser/aboutSessionRestore.dtd
  browser/locales/en-US/chrome/browser/migration/migration.dtd
Due: mozlint-eslint/opt

Auto-migrate all user data, without prompt, so user have to go through steps.
  browser/app/profile/firefox.js
  browser/components/migration/WaterfoxProfileMigrator.js
Due: mozlint-eslint/opt

Make sure users can run legacy extensions.
  browser/components/nsBrowserGlue.js
Due: mozlint-eslint/opt

Fix issue with Windows AutoMigrate.
  browser/components/migration/WaterfoxProfileMigrator.js
Due: mozlint-eslint/opt
